@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap');

html, body, #root {
  height: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.App {
  position: relative;
  text-align: center;
  height: 100%;
  background: rgb(41,128,185);
  background: linear-gradient(157deg, rgba(41,128,185,1) 0%, rgba(109,213,250,1) 64%, rgba(255,255,255,1) 100%);
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

.weather-container {
  position: absolute;
  top: calc( 50% - 200px );
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); }
}